/*el asterisco es un selector universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EEE0CB;

}

header {
    background-color:#ffffff;
    top: 0;
    position: relative; 
    text-align: center; 
    max-width: 100%; 
    height: 35vh; 
    overflow: hidden;
}


hr.rounded {
    border-top: 8px solid #000000;
    border-radius: 5px;
}


/*---------------------ID individual--------------------*/

/*WIDTH Y HEIGHT*/

.articulo {
    background-color:#64ACC1;
    width: 350px; /* ancho */
    height: 250px; /* alto */   
    margin: 10px 10px 10px 10px;
    padding: 25px;
    /*border*/
    border: solid 3px #35393C;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}
.img_articulo {
    display: block;
    margin: 0 auto;
    width: 330px;
    height: 250px;
}

/*--------------------------------nav bar---------------------------------*/

.navbar{
    background-color: #64ACC1;
    font-size: 20px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 250px;
    overflow: auto;
}

.img_nav{
    object-fit: cover;
}

.h1_nav
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
}



/*-card- */

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (min-width: 768px) {
    .container-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (min-width: 992px) {
    .container-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

.ventas {
    height: 250px;
}
/*--------------------------------footer---------------------------------*/
.foote{
    background-color: gray;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}



#jardin, #cocina, #dormitorio, #todas {
    display: none;
}

.jardin, .cocina, .dormitorio {
    display: none;
}

#jardin:checked ~ .container-cards .jardin,
#cocina:checked ~ .container-cards .cocina,
#dormitorio:checked ~ .container-cards .dormitorio
{
    display: flex;
}

#todas:checked ~ .container-cards .jardin,
#todas:checked ~ .container-cards .cocina, 
#todas:checked ~ .container-cards .dormitorio{
    display: flex;
}

.container-opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (min-width: 560px) {
    .container-opciones {
        flex-direction: row;
    }
}

.container-opciones label {
    border: solid 1px;
    padding: 8px 15px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.container-opciones label:hover {
    background-color: #64ACC1;
    border: none;
}

#jardin:checked ~ .container-opciones .label-jardin,
#cocina:checked ~ .container-opciones .label-cocina,
#dormitorio:checked ~ .container-opciones .label-dormitorio,
#todas:checked ~ .container-opciones .label-todas {
    background-color: #64ACC1;
}