@charset "UTF-8";
/* Estilos Base */
/*PALETA DE COLORES*/
/*Medidas de pantallas*/
/*TAMAÑOS DE FUENTES*/
/*Logo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #EEE0CB;
  text-align: center; /* Centrar contenidos */
}

hr.rounded {
  border-top: 8px solid #000000;
  border-radius: 5px;
}

/* Navigation */
.navbar {
  background-color: #64ACC1;
  font-size: 25px;
}
@media (max-width: 768px) {
  .navbar {
    font-size: 15px;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  height: auto;
  max-height: 250px;
  overflow: auto;
}

.img-nav {
  object-fit: cover;
}

.h1-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1 {
  background-color: #EEE0CB;
  color: #64ACC1;
  display: inline-block;
}

h5 {
  font-size: 23px;
  font-weight: bold;
}

/* Header */
header {
  background-color: #ffffff;
  top: 0;
  position: relative;
  text-align: center;
  max-width: 100%;
  height: 35vh;
  overflow: hidden;
}

.whatsapp-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 9999;
}

/* Footer */
.footer {
  background-color: #64ACC1;
}

footer .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Form styles */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 1px;
  resize: vertical;
}

.container-opciones label {
  border: solid 1px;
  padding: 8px 15px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.container img {
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.container img:hover {
  transform: scale(1.05);
}

p {
  margin: 10px;
  font-weight: 500;
}

.card {
  background-color: #C8BEB1;
  font-size: 15px;
  gap: 10px;
}

.container .card {
  transition: transform 0.3s ease-in-out;
}
.container .card:hover {
  transform: scale(1.05);
}

.responsive-youtube {
  position: relative;
  padding-bottom: 56.25%; /* Proporción 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.responsive-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilos para las imágenes de las redes sociales */
.redes img {
  width: 30px; /* Un tamaño estándar para todos */
  height: 30px;
  border-radius: 15px; /* Esquinas redondeadas para darle un aspecto más suave */
  transition: transform 0.2s; /* Transición suave para el efecto hover */
}

.redes img:hover {
  transform: scale(1.1); /* Aumenta un poco el tamaño de la imagen al pasar el cursor por encima */
}

/* Estilos para los enlaces de las redes sociales */
.redes a.link-body-emphasis {
  color: #333; /* Un color básico que puedes cambiar según tus preferencias */
  text-decoration: none; /* Remueve el subrayado */
  padding: 5px; /* Espacio alrededor del enlace para hacerlo más fácil de clicar */
  transition: background-color 0.2s; /* Transición suave para el efecto hover */
}

.redes a.link-body-emphasis:hover {
  background-color: #e5e5e5; /* Un fondo suave al pasar el cursor por encima */
}

/* Remover puntos de las listas y agregar márgenes a los ítems de lista */
.redes ul.list-unstyled {
  list-style-type: none; /* Remover puntos */
  padding: 0;
}

.redes li {
  margin-bottom: 10px; /* Espacio entre ítems de lista */
}

.container .img-wrapper {
  height: 400px;
  overflow: hidden;
}
.container .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  padding: 5px;
}
.container .img-wrapper img:hover {
  transform: scale(1.05);
}

/* Cards */
.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 15px;
}

@media (min-width: 768px) {
  .container-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (min-width: 992px) {
  .container-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .container-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
.ventas {
  height: 250px;
}

/*-----------------------page shop---------------------*/
#jardin, #cocina, #dormitorio, #todas {
  display: none;
}

.jardin, .cocina, .dormitorio {
  display: none;
}

#jardin:checked ~ .container-cards .jardin,
#cocina:checked ~ .container-cards .cocina,
#dormitorio:checked ~ .container-cards .dormitorio {
  display: flex;
}

#todas:checked ~ .container-cards .jardin,
#todas:checked ~ .container-cards .cocina,
#todas:checked ~ .container-cards .dormitorio {
  display: flex;
}

.container-opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 560px) {
  .container-opciones {
    flex-direction: row;
  }
}
.container-opciones label {
  border: solid 1px;
  padding: 8px 15px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.container-opciones label:hover {
  background-color: #64ACC1;
  border: none;
}

#jardin:checked ~ .container-opciones .label-jardin,
#cocina:checked ~ .container-opciones .label-cocina,
#dormitorio:checked ~ .container-opciones .label-dormitorio,
#todas:checked ~ .container-opciones .label-todas {
  background-color: #64ACC1;
}

.card {
  margin: 20px 0;
}
@media (min-width: 768px) {
  .card {
    margin: 40px 0;
  }
}

form {
  font-size: 15px;
}
@media (min-width: 992px) {
  form {
    font-size: 23px;
  }
}

h3 {
  font-size: 25px;
}
@media (min-width: 992px) {
  h3 {
    font-size: 23px;
  }
}

/*# sourceMappingURL=styles.css.map */
