.card {
    margin: 20px 0;

    @media (min-width: $tablet) {
        margin: 40px 0;
    }
}

form {
    font-size: $fuente-media;

    @media (min-width: $desktop) {
        font-size: $fuente-grande;
    }
}

h3 {
    font-size: $fuente-nav;

    @media (min-width: $desktop) {
        font-size: $fuente-grande;
    }
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    
    margin-top: 15px;
    margin-bottom: 1px;
    resize: vertical;
}