
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fuente-principal;
    
    background-color: $color-primario;
    text-align: center; /* Centrar contenidos */
}

hr.rounded {
    border-top: 8px solid #000000;
    border-radius: 5px;
}


/* Navigation */
.navbar {
    background-color: $color-secundario;
    font-size: $fuente-nav;

    @media (max-width: $tablet) {
        font-size: $fuente-media;
    }
}

.logo { 

    @include Logo
}

.img-nav {
    object-fit: cover;
}

.h1-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    
}

h1 {
    color:$color-secundario;
    display: inline-block;
}

h5{
    font-size: $fuente-grande;
    font-weight: bold;
}

/* Header */
header {
    background-color: #ffffff;
    top: 0;
    position: relative; 
    text-align: center; 
    max-width: 100%; 
    height: 35vh; 
    overflow: hidden;
    
}




.whatsapp-button {
    position: fixed;
    right: 10px;   // Margen derecho de 10px
    bottom: 10px;  // Margen inferior de 10px
    z-index: 9999; // Para que aparezca sobre otros elementos
}

/* Footer */
.footer {
    background-color:$color-secundario;
}

footer .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Form styles */

.container-opciones label {
    border: solid 1px;
    padding: 8px 15px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}


.container {
    img {
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}