

body {
    font-family: $fuente-principal;
}

.history-section {
    padding: 50px;
    background-color: $color-primario;
    color: black;

    h2 {
        text-align: center;
        margin-bottom: 40px;
        font-size: $fuente-nav;
    }

    .history-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        padding: 20px;
        background-color: $color-terciario;
        border-radius: 10px;

        img {
            max-width: 350px;
            margin-right: 20px;
            border-radius: 10px;
        }

        p {
            flex: 1;
            font-size: $fuente-grande;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

    @media (max-width: $tablet) {
        .history-item {
            flex-direction: column;
            text-align: center;
            p{
                font-size: $fuente-media;
            }

            img {
                margin: 0;
                margin-bottom: 15px;
            }

            &:nth-child(even) {
                flex-direction: column;
            }
        }
    }

    @media (min-width: $desktop) and (max-width: $desktopXG) {
        .history-item {
            p {
                font-size: $fuente-grande;
            }
        }
    }
}