/*PALETA DE COLORES*/

$color-primario:#EEE0CB;
$color-secundario:#64ACC1;
$color-terciario: #C8BEB1;

$fuente-principal: 'Montserrat', sans-serif;



/*Medidas de pantallas*/
$tablet: 768px;
$desktop: 992px;
$desktopXG: 1200px;

/*TAMAÑOS DE FUENTES*/
$fuente-nav: 25px;
$fuente-media: 15px;
$fuente-grande: 23px;
$icono: 40px;


/*Logo */

@mixin Logo {
    display: block;
    margin: 0 auto;
    width: 100%;      
    max-width: 800px; 
    height: auto;     
    max-height: 250px;
    overflow: auto;
}